.nav-all{ 
    display: inline-block;
    width: 100%;
}

.nav-tabs-my{
    padding: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
}
.nav-tabs-my > li{
	padding:5px;
	display: inline-block;
}


.nav-tabs-my > li > a {
    display: block;
    margin: 2px;
    padding: 5px 15px;
    border: 1px solid #222;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    color: #222;
    background: 0 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    text-decoration: none;
}

.nav-tabs-my > li.active > a,
.nav-tabs-my > li:hover  > a, 
.nav-tabs-my > li.active > a:focus
{
	border-color: #32c5d2;
    color: #fff;
    background-color: #32c5d2;
}

.tab-pane { padding: 15px 0; }
.tab-content{ 
    text-align: center;
}
